:host {
  display: block;
}

.image-div {
  margin: 0 auto;
  display: block;
}

img {
  margin: 0 auto;
  max-width: 300px;
  display: block;
}

@media only screen and (max-width: 430px) {
  img {
    max-width: 200px;
  }
}

@media only screen and (max-width: 330px) {
  img {
    max-width: 120px;
  }
}
