<div class="container mat-app-background h-75">
  <div class="align-content-center w-100 p-5">
    <p class="display-2">Offer successfully added.</p>
    <p class="text-info">You can find your offers under 'My offers' tab.</p>
    <button routerLinkActive="active" routerLink="/offer_details/{{id}}" class="my-offers-link w-25" mat-stroked-button>Offer details</button>
    <button routerLinkActive="active" routerLink="/my_offers" class="my-offers-link w-25" mat-stroked-button>My offers</button>
    <button routerLinkActive="active" routerLink="/home" class="my-offers-link w-25" mat-stroked-button>Home</button>
  </div>
</div>
