.card-container.card {
  max-width: 500px;
  padding: 40px 40px;
}

.card {
  background-color: white;
  padding: 20px 25px 30px;
  margin: 50px auto 25px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

.form-control-custom {
  display: block;
  width: 100%;
  border: 0 solid;
  outline: azure;
  box-shadow: 0 0 3px #DF3EA7;
  border-radius: 5px;
  padding: 5px;
}

.form-control-custom:focus {
  outline: none !important;
  box-shadow: 0 0 7px magenta;
}

.alert {
  margin-top: 5px;
  background-color: rgba(255, 50 , 10, 0.3);
  color: brown;
  border-color: beige;
}
.btn-primary {
  background: rgba(255, 50 , 10, 0.7);
  border-color: rgba(255, 50, 10, 0.4);
}
.btn-primary:active:focus {
  background: rgba(255, 250 , 10, 0.7);
  border-color: rgba(255, 250, 10, 0.4);
}
