<div id="start-body">
  <div id="start-content">
    <div id="start-splash">
      <span id="start-text-front" class="start-header">front</span>
      <span id="start-text-book" class="start-header">Book</span>
      <br>
      <span id="start-description">find books, rent books, enjoy</span>
      <hr>
      <div id="start-buttons-panel">
        <button id="start-button-login" class="btn btn-lg btn-outline-dark" routerLink="/login">Log in</button>
        <button id="start-button-register" class="btn btn-lg btn-outline-dark" routerLink="/register">Sign up</button>
      </div>
    </div>
  </div>
</div>




