@import "https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300";

#start-body {
  position: relative;
  display: flex;
  flex: 1;
  width: 100%;
  height: 100%;
  background-image: url(/src/assets/img/bck/books-bck.jpeg) !important;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#start-content {
  margin: auto;
  width: 100%;
  height: 100%;
}

#start-splash {
  margin-top: 5%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  background: rgba(255, 255, 255, 0.6);
  padding: 50px;
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
}
.start-header {
  font-size: 10rem;
  text-decoration-style: double;
}
#start-text-front {
  color: #f5eddd;
  text-shadow: 0 0 2px #000;
}
#start-text-book {
  color: brown;
}

#start-buttons-panel {
  position: relative;
  margin: auto;
  width: 80%;
}

#start-buttons-panel > button {
  margin: 1%;
  width: 40%;
}

#start-buttons-panel > button:hover {
  opacity: 1;
}

#start-button-login:hover {
  background: rgba(106, 36, 36, 0.7);
}

#start-button-login {
  border-color: #bf2e2f;
}

#start-button-register {
  border-color: #757567;
}
#start-splash > hr {
  margin-bottom: 5%;
}

#start-description {
  text-shadow: 0 0 7px #f56a69;
}

@media only screen and (min-width: 500px) and (max-width: 880px) {
  .start-header {
    font-size: 5rem;
  }
  #start-splash {
    margin-top: 15%;
    width: fit-content;
    height: fit-content;
  }
  #start-buttons-panel > button {
    width: 50%;
  }
}


@media only screen and (max-width: 500px) {
  .start-header {
    font-size: 3rem;
  }
  #start-splash {
    width: fit-content;
    height: fit-content;
  }
  #start-buttons-panel > button {
    width: 50%;
  }
  #start-buttons-panel {
    width: 100%;
  }
}

