nav {
  position: relative;
  height: 100px;
  max-width: 960px;
}

nav > a {
  display: block;
  color: beige;
  padding: 10px;
  font-style: oblique;
}


#navbar-container {
  height: fit-content;
  margin-bottom: 50px;
  background: #7c664a;
  box-shadow: 2px 0 10px black;
}

#navbar-content {
  max-width: fit-content;
  margin: 0 auto;
}

#header-text {
  background: rgba(200, 200, 200, 0.2);
  padding: 20px;
  align-content: center;
  width: fit-content;
  margin: 0 auto;
}

.navbar-brand {
  margin-bottom: 10px;
}

@media only screen and (max-width: 440px) {
  #header-text {
    padding: 15px;
  }
  #header-title {
    font-size: 70px !important;
  }
}

@media only screen and (max-width: 346px) {
  #navbar-container {
    height: 250px;
  }
}


@media only screen and (max-width: 325px) {

  #header-title {
    font-size: 50px !important;
  }
}

@media only screen and (max-width: 249px) {
  #navbar-container {
    height: 300px;
  }
}
