<div id="navbar-container" class="container">
  <div id="navbar-content">
    <div id="header-text" >
      <p class="display-1" id="header-title">frontBook</p>
    </div>
    <nav class="navbar navbar-light">
      <a class="navbar-brand btn btn-outline-light" routerLink="/home" routerLinkActive="active">Home</a>
      <a class="navbar-brand btn btn-outline-light" routerLink="/new_offer" routerLinkActive="active">New offer</a>
      <a class="navbar-brand btn btn-outline-light" routerLink="/my_offers" routerLinkActive="active">My offers</a>
      <a class="navbar-brand btn btn-outline-light" href="#" (click)="logout()">Logout</a>
    </nav>
  </div>
</div>

