<div class="container h-100">
  <p class="display-4 mat-app-background p-lg-3">Your offers:</p>
  <div id="offers-tab">
    <mat-paginator [length]="totalElements"
                   [pageSize]="pageSize"
                   [pageSizeOptions]="pageSizeOptions"
                   (page)="changePageSize($event.pageIndex, $event.pageSize )"
                      >
    </mat-paginator>
    <mat-nav-list>
      <mat-list-item *ngFor="let offer of myOffers; index as i">
        <a matLine class="text-info" routerLink="/offer_details/{{offer.id}}">{{ offer.offerName }}</a>
        <span matLine class="text-black-50">{{offer.bookTitle}}</span>
        <span matListIcon (click)="toggleDetails(i)">
          <mat-icon>arrow_drop_down</mat-icon>
        </span>
        <div matLine *ngIf="details[i]">
          <div>Offer expires on: {{offer.expires? offer.expires : 'Never'}}</div>
          <div>Location: {{offer.city}} {{offer.voivodeship ? ', ' + offer.voivodeship : ''}}</div>
          <div>Description: {{offer.description}}</div>
        </div>
        <button mat-icon-button routerLink="/edit_offer/{{offer.id}}">
          <mat-icon>edit</mat-icon>
        </button>
      </mat-list-item>
    </mat-nav-list>
  </div>
</div>
<div *ngIf="cannotDelete" class="container">
  Cannot delete
</div>
