<app-navbar></app-navbar>

<ng2-popup #popup></ng2-popup>

<div class="container offers-container">
  <p class="display-4">Your offers:</p>
  <div id="offers-tab">
    <form>
      <div class="form-group">
        <label for="exampleFormControlSelect1">Offers per page</label>
        <select name="pageSizeSelect" class="form-control" id="exampleFormControlSelect1"
        (change)="changePageSize(0, $event.target.value)">
          <option>2</option>
          <option selected>5</option>
          <option>10</option>
          <option>20</option>
        </select>
      </div>
      <nav *ngIf="pageNavigationEnabled" aria-label="Page navigation">
        <ul class="pagination">
          <li class="page-item" [class.disabled] = "page - 1 < 0" (click)="previous()"><a class="page-link">Previous</a></li>
          <li class="page-item" [attr.data-selected]="false"
              *ngFor="let page of pages; index as i" [class.active]="pageHighlightStatus[page.pageNumber]">
            <a class="page-link" (click)="selectPage(page.pageNumber)">
              {{page.pageNumber + 1}}
            </a>
          </li>
          <li class="page-item" [class.disabled] = "page >= totalPagesCount - 1" (click)="next()" ><a class="page-link">Next</a></li>
        </ul>
      </nav>
    </form>
    <table class="table">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Book title</th>
        <th scope="col">Date of creation</th>
        <th scope="col">Expires</th>
        <th scope="col">Delete</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let offer of myOffers; index as i">
        <th scope="row">{{i + pageSize * page + 1}}</th>
        <td>{{offer.offerName}}</td>
        <td>{{offer.bookTitle}}</td>
        <td>{{offer.createdAt}}</td>
        <td>{{(offer.expires? offer.expires : 'Never')}}</td>
        <td>
          <button (click)="onDelete(offer.id)" class="btn">Delete</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<div *ngIf="cannotDelete" class="container">
  Cannot delete
</div>
<app-footer></app-footer>
