<h1 mat-dialog-title>Password change</h1>
<div mat-dialog-content>
  <div *ngIf="!isSuccess; else changeSuccess">
    <p>Please type in old password and a new one</p>
    <form [formGroup]="form">
      <app-required-password-field formControlName="oldPassword" [label]="'Old password'" [name]="'Old password'"></app-required-password-field>
      <app-required-password-field formControlName="password" [label]="'New password'" [name]="'New password'"></app-required-password-field>
      <app-required-password-field formControlName="repeatPassword" [label]="'Repeat new password'" [name]="'Retry new password'"></app-required-password-field>
    </form>
  </div>
  <ng-template #changeSuccess>
    <div class="alert-success">Password change success.</div>
  </ng-template>
</div>
<div mat-dialog-actions>
  <div *ngIf="!isSuccess; else changeSuccessButton">
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button (click)="changePassword()" cdkFocusInitial>Change</button>
  </div>
  <ng-template #changeSuccessButton>
    <button mat-button [mat-dialog-close]="true" (click)="onNoClick()" cdkFocusInitial>Close</button>
  </ng-template>
</div>
