<div class="single-offer">
  <div class="card card-container">
    <div class="card-header">
      <span class="decor-font ">B</span>
      <span class="ofcard-header" >{{offer.offerName}}</span>
    </div>
    <div class="ofcontent">
      <div class="row">
        <div class="col-md-6">
          <div class="ofimage-div">
              <app-offer-card-image [offerId]="offer.id"></app-offer-card-image>
          </div>
        </div>
        <div class="col-5">
          <table id="ofdata" class="table">
            <tr>
              <th>Book title:</th>
              <td>{{offer.bookTitle}}</td>
            </tr>
            <tr>
              <th>City: </th>
              <td>{{offer.city}}</td>
            </tr>
            <tr>
              <th>Voivodeship: </th>
              <td>{{offer.voivodeship}}</td>
            </tr>
            <tr>
              <th>Category: </th>
              <td>{{offer.category?.name}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
