<mat-card class="ofcard" [class.expired]="isExpired()">
  <mat-card-title class="offer-title">
    <span class="decor-font ">B</span>
    <span >{{offer.offerName}}</span>
  </mat-card-title>
  <mat-card-subtitle>
    expires: {{offer.expires ? offer.expires : 'Indefinite'}}
  </mat-card-subtitle>
  <div class="w-100 p-3">
    <app-offer-card-image [offer]="offer"></app-offer-card-image>
  </div>
  <mat-card-content>
      <table class="table">
        <tr>
          <th>Book title:</th>
          <td>{{offer.bookTitle}}</td>
        </tr>
        <tr>
          <th>City: </th>
          <td>{{offer.city}}</td>
        </tr>
        <tr>
          <th>Voivodeship: </th>
          <td>{{offer.voivodeship}}</td>
        </tr>
        <tr>
          <th>Category: </th>
          <td>{{offer.category?.name}}</td>
        </tr>
      </table>
  </mat-card-content>
  <mat-card-actions>
    <button *ngIf="!isExpired()" class="w-100" mat-raised-button routerLink="/offer_details/{{offer.id}}">Details...</button>
  </mat-card-actions>
  <mat-card-footer>
  </mat-card-footer>
</mat-card>
