@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html {
  height: 100%;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  background: url("/src/assets/img/bck/home-bck.jpeg") no-repeat fixed;
}

.form-control.ng-touched.ng-invalid {
  border: 2px solid dodgerblue;
}

@font-face {
  font-family: 'heydings_icons';
  src: url('/src/assets/fonts/heydings_icons.ttf') format('truetype');
}

.decor-font {
  font-family: 'heydings_icons', serif;
}

.form-font-header {
  font-family: 'heydings_icons', serif;
  font-size: 5rem;
  user-select: none;
  color: #3c7c7a;
  text-shadow: 2px 2px 3px #7c7c7c;
}


.form-control-custom {
  display: block;
  width: 100%;
  border: 0 solid;
  outline: azure;
  box-shadow: 0 0 3px #00df6e;
  border-radius: 13px;
  padding: 7px;
}

.form-control-custom:focus {
  outline: none !important;
  box-shadow: 0 0 7px #06ff36;
}

ng2-message-popup button {
  background-color: #7c664a;
  color: beige;
  margin-bottom: 10px;
  border-radius: .25rem;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
