html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: linear-gradient(rgb(32,124,229), rgb(170,171,173));
}

.form-control.ng-touched.ng-invalid {
  border: 2px solid dodgerblue;
}
